<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        {{!-- express knows to use the public folder cause already set inside app.js (if you are confused about referencing
        image location) --}}
        <img class='portrait' src="/img/gigachad.jpg">
    </div>
    

    {{>footer}}
</body>


</html>